@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>بیمه پاسارگاد | صفحه ورود</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/all.min.css")">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="@Url.Content("~/Content/icheck-bootstrap.min.css")">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/adminlte.min.css")">
    <!-- RTL style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/rtl.css")">
</head>
<body class="hold-transition login-page" dir="rtl">
<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>شرکت </b>بیمه پاسارگاد</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">برای شرکت در نظرسنجی لطفا وارد شوید</p>

            @using (Html.BeginForm("Login", "Account", method: FormMethod.Post))
            {
                <div class="input-group mb-3">
                    <input type="text" name="nationalCode" class="form-control inputBrClass" placeholder="کدملی">
                    <div class="input-group-append">
                        <div class="input-group-text brClass">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="password" class="form-control inputBrClass" placeholder="رمز عبور">
                    <div class="input-group-append">
                        <div class="input-group-text brClass">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <label for="remember">
                                مرا به یاد بسپار
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">ورود</button>
                    </div>
                    <!-- /.col -->
                </div>
            }
            <p class="mb-1">
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#signupModal">رمز ورود را فراموش کردم</button>
            </p>
            @using (Html.BeginForm("Signup", "Account", FormMethod.Post))
            {
                <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">ارسال رمز عبور جدید</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group mb-3">
                                    <input type="text" name="nationalCode" class="form-control inputBrClass" placeholder="کدملی">
                                    <div class="input-group-append">
                                        <div class="input-group-text brClass">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-primary" value="تایید"/>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div >
    </div >
</div>
</body >
<script src="@Url.Content("~/Scripts/jquery.min.js")"></script >
<script src="@Url.Content("~/Scripts/bootstrap.bundle.min.js")"></script >
<script src="@Url.Content("~/Scripts/adminlte.min.js")"></script >
</html >