@model List<CustomerSurveySystem.Models.Questionnaire>
@{
    ViewBag.Title = "  شرکت بیمه پاسارگاد";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div>
        <h2>لیست نظرسنجی ها</h2>
        @foreach (var item in Model)
        {
            using (@Html.BeginForm("Index", "Questionnaire", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="questionnaireId" value="@item.Id"/>
                <input type="hidden" name="needLogin" value="@item.NeedLogin.ToString()"/>
                
                <button  class="btn btn-link"  type="submit">@item.Title</button>
            }
        }
    </div>
</div>