@using CustomerSurveySystem.Enums
@model IList<CustomerSurveySystem.Models.QuestionDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header">
    <h3 class="card-title">@ViewData["QuestionnaireTitle"]</h3>

    <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="بستن">
            <i class="fas fa-minus"></i>
        </button>
    </div>
</div>
<div class="card-body">
    <div>
        <div class="container py-3 my-3 border rounded shadow-sm">
            <div class="row">
                <section class="col-12">
                    @using (Html.BeginForm("NextStep", "Questionnaire", FormMethod.Post, new { id = "QuestionnaireForm" }))
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {
                            <input type="hidden" id="currentStepId" value="@item.CurrentStepId"/>
                            <input type="hidden" id="questionnaireId" value="@ViewData["QuestionnaireId"]"/>
                            <input type="hidden" id="answerSheetId" value="@ViewData["AnswerSheetId"]"/>
                            <ul class="nav nav-tabs flex-nowrap" role="tablist" style="display: none">
                                <li role="presentation" class="nav-item">
                                    <a href="question_@i" class="nav-link active" data-toggle="tab" aria-controls="question_@i" role="tab" title="Step @i"> @i </a>
                                </li>
                            </ul>

                            <div class="tab-content py-2">
                                <div class="tab-pane active" role="tabpanel" id="step1">
                                    @if (item.QuestionType == QuestionType.MultiChoice && item.Questions != null)
                                    {
                                        <h5>@item.OrderNumber-@item.Title</h5>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                @{ int j = 1; }
                                                @foreach (var question in item.Questions.Options)
                                                {
                                                    if (item.SingleSelect)
                                                    {
                                                        <div class="form-group">
                                                            <div class="custom-control custom-radio">
                                                                <input @(item.IsRequire ? "required" : "")
                                                                    id="@($"customRadio_{j}_{item.QuestionId}")"
                                                                    value="@question"
                                                                    name="@($"customRadio_{item.QuestionId}")[]"
                                                                    type="radio"
                                                                    class="custom-control-input">
                                                                <label for="@($"customRadio_{j}_{item.QuestionId}")" class="custom-control-label">@question</label>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="form-group">
                                                            <div class="custom-control custom-checkbox">
                                                                <input class="custom-control-input"
                                                                       @(item.IsRequire ? "required" : "")
                                                                       id="@($"customCheckbox_{j}_{item.QuestionId}")"
                                                                       name="@($"customRadio_{item.QuestionId}")[]"
                                                                       value="@question"
                                                                       type="checkbox">
                                                                <label for="@($"customCheckbox_{j}_{item.QuestionId}")" class="custom-control-label">@question</label>
                                                            </div>
                                                        </div>
                                                    }

                                                    j++;
                                                }
                                                @if (item.NeedDescription)
                                                {
                                                    <div class="form-group">
                                                        <div class="col-sm-10">
                                                            <textarea class="form-control" required="required" rows="3" placeholder="لطفا پاسخ خود را شرح دهید"></textarea>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        i++;
                                        <hr/>
                                    }
                                    @if (item.QuestionType == QuestionType.Text)
                                    {
                                        <h5>@item.OrderNumber-@item.Title</h5>
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                <textarea class="form-control"  name="texts[]"  rows="3" @(item.IsRequire ? "required" : "")></textarea>
                                            </div>
                                        </div>
                                        <hr/>
                                    }
                                    <div class="form-group">

                                        @if (item.QuestionType == QuestionType.Score)
                                        {
                                            <h5>@item.OrderNumber-@item.Title</h5>
                                            <input id="input-id" required="" name="input-1" class="rating rating-loading" data-min="0" data-max="5" data-step="1">
                                            <hr/>
                                        }
                                        @if (item.QuestionType == QuestionType.Number)
                                        {
                                            <h5>@item.OrderNumber-@item.Title</h5>
                                            <input @(item.IsRequire ? "required" : "") class="form-group" name="numbers[]" type="number"/>
                                            <hr/>
                                        }
                                    </div>
                                    @* <div class="tab-pane" role="tabpanel" id="complete"> *@
                                    @*     <h3>Complete!</h3> *@
                                    @*     <p>You have successfully completed all steps.</p> *@
                                    @* </div> *@
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            i++;
                        }

                        <button type="button" onclick="createAnswers();" class="btn btn-primary next-step float-right">بعدی</button>
                    }
                </section>
            </div>
        </div>
    </div>
</div>
<!-- /.card-body -->
<div class="card-footer">

</div>

@section scripts
{
    <script type="text/javascript">
      $("#input-id").rating();
     function createAnswers(){
      
      let data = [];
      let checkboxes = document.querySelectorAll('input[type=checkbox]:checked')
      let radiobuttons = document.querySelectorAll('input[type=radio]:checked')
      let questionnaireId = $('#questionnaireId').val();
      let currentStepId = $('#currentStepId').val();
      let answerSheetId = $('#answerSheetId').val();
      for (let i = 0; i < checkboxes.length; i++) {
          let questionId = checkboxes[i].id.split('_')[2];
          let existingKeyIndex = data.findIndex(o=> o.questionId === questionId);
           if (existingKeyIndex !== -1){
               data[existingKeyIndex].answer.push(checkboxes[i].value);
           } else{
                data.push({questionId: questionId, answer: [checkboxes[i].value]})
        }
      }
      for (let i = 0; i < radiobuttons.length; i++) {
          let questionId = radiobuttons[i].id.split('_')[2];
          let existingKeyIndex = data.findIndex(o=> o.questionId === questionId);
          if (existingKeyIndex !== -1){ 
              data[existingKeyIndex].answer.push(radiobuttons[i].value);
            }else{
          data.push({questionId: questionId, answer: [radiobuttons[i].value]})
          }
      }
        $.ajax({
            url:'/Questionnaire/NextStep',
            type:'POST',
            data:  JSON.stringify({questionnaireId: questionnaireId,currentStepId:currentStepId,answerSheetId:answerSheetId,answerData: data}),
            contentType: "application/json",
            success: function (result){
                console.log(result);
                }
            })
     }     
    </script>
}